In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
my_movies=pd.read_csv("my_movies.csv")
my_movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [3]:
my_movies = my_movies.replace(np.nan, '', regex=True)
my_movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,,,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,,,,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,,,,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,,,,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,,1,1,0,0,0,0,0,1,0,1

In [4]:
my_movies.shape

(10, 15)

In [5]:
my_movies
viewed = []
for i in range(0, 10):
    viewed.append([str(my_movies.values[i,u]) for u in range(1, 15)])

In [6]:
my_movies_series  = pd.DataFrame(pd.Series(viewed))
my_movies_series 
my_movies_series.columns = ["MovieViews"]
my_movies_series

                                          MovieViews
0  [LOTR1, Harry Potter1, Green Mile, LOTR2, 1, 0...
1  [Patriot, Braveheart, , , 0, 1, 0, 0, 1, 0, 0,...
2        [LOTR2, , , , 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
3  [Patriot, Sixth Sense, , , 1, 1, 0, 0, 1, 0, 0...
4  [Patriot, Sixth Sense, , , 1, 1, 0, 0, 1, 0, 0...
5  [Patriot, Sixth Sense, , , 1, 1, 0, 0, 1, 0, 0...
6  [Harry Potter2, , , , 0, 0, 0, 1, 0, 0, 1, 0, ...
7      [Patriot, , , , 0, 1, 0, 0, 1, 0, 0, 0, 0, 0]
8  [Patriot, Sixth Sense, , , 1, 1, 0, 0, 1, 0, 0...
9  [LOTR, Gladiator, Green Mile, , 1, 1, 0, 0, 0,...

In [7]:
X = my_movies_series['MovieViews'].str.join(sep=',').str.get_dummies(sep=',')
X

,0,1,Braveheart,Gladiator,Green Mile,Harry Potter1,Harry Potter2,LOTR,LOTR1,LOTR2,Patriot,Sixth Sense
0,1,1,0,0,1,1,0,0,1,1,0,0
1,1,1,1,0,0,0,0,0,0,0,1,0
2,1,1,0,0,0,0,0,0,0,1,0,0
3,1,1,0,0,0,0,0,0,0,0,1,1
4,1,1,0,0,0,0,0,0,0,0,1,1
5,1,1,0,0,0,0,0,0,0,0,1,1
6,1,1,0,0,0,0,1,0,0,0,0,0
7,1,1,0,0,0,0,0,0,0,0,1,0
8,1,1,0,0,0,0,0,0,0,0,1,1
9,1,1,0,1,1,0,0,1,0,0,0,0

In [8]:
X.drop(["0"],inplace=True,axis=1)
X

,1,Braveheart,Gladiator,Green Mile,Harry Potter1,Harry Potter2,LOTR,LOTR1,LOTR2,Patriot,Sixth Sense
0,1,0,0,1,1,0,0,1,1,0,0
1,1,1,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,1,1
4,1,0,0,0,0,0,0,0,0,1,1
5,1,0,0,0,0,0,0,0,0,1,1
6,1,0,0,0,0,1,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,1,0
8,1,0,0,0,0,0,0,0,0,1,1
9,1,0,1,1,0,0,1,0,0,0,0

In [9]:
X.drop(["1"],inplace=True,axis=1)
X

,Braveheart,Gladiator,Green Mile,Harry Potter1,Harry Potter2,LOTR,LOTR1,LOTR2,Patriot,Sixth Sense
0,0,0,1,1,0,0,1,1,0,0
1,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,0,0,0,0,1,1
5,0,0,0,0,0,0,0,0,1,1
6,0,0,0,0,1,0,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,1,1
9,0,1,1,0,0,1,0,0,0,0

In [10]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(X, min_support=0.005, max_len=3,use_colnames = True)
frequent_itemsets

    support                            itemsets
0       0.1                        (Braveheart)
1       0.1                         (Gladiator)
2       0.2                        (Green Mile)
3       0.1                     (Harry Potter1)
4       0.1                     (Harry Potter2)
5       0.1                              (LOTR)
6       0.1                             (LOTR1)
7       0.2                             (LOTR2)
8       0.6                           (Patriot)
9       0.4                       (Sixth Sense)
10      0.1               (Braveheart, Patriot)
11      0.1             (Green Mile, Gladiator)
12      0.1                   (LOTR, Gladiator)
13      0.1         (Green Mile, Harry Potter1)
14      0.1                  (Green Mile, LOTR)
15      0.1                 (Green Mile, LOTR1)
16      0.1                 (Green Mile, LOTR2)
17      0.1              (Harry Potter1, LOTR1)
18      0.1              (LOTR2, Harry Potter1)
19      0.1                      (LOTR2, LOTR1)
20      0.4              (Patriot, Sixth Sense)
21      0.1       (Green Mile, LOTR, Gladiator)
22      0.1  (Green Mile, Harry Potter1, LOTR1)
23      0.1  (Green Mile, LOTR2, Harry Potter1)
24      0.1          (Green Mile, LOTR2, LOTR1)
25      0.1       (LOTR2, Harry Potter1, LOTR1)

In [11]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of     support                            itemsets
8       0.6                           (Patriot)
9       0.4                       (Sixth Sense)
20      0.4              (Patriot, Sixth Sense)
2       0.2                        (Green Mile)
7       0.2                             (LOTR2)
0       0.1                        (Braveheart)
15      0.1                 (Green Mile, LOTR1)
24      0.1          (Green Mile, LOTR2, LOTR1)
23      0.1  (Green Mile, LOTR2, Harry Potter1)
22      0.1  (Green Mile, Harry Potter1, LOTR1)
21      0.1       (Green Mile, LOTR, Gladiator)
19      0.1                      (LOTR2, LOTR1)
18      0.1              (LOTR2, Harry Potter1)
17      0.1              (Harry Potter1, LOTR1)
16      0.1                 (Green Mile, LOTR2)
13      0.1         (Green Mile, Harry Potter1)
14      0.1                  (Green Mile, LOTR)
1       0.1                         (Gladiator)
12      0.1                   (LOTR, Gladiator)
11      0.1             (Green Mile, Gladiator)
10      0.1               (Braveheart, Patriot)
6       0.1                             (LOTR1)
5       0.1                              (LOTR)
4       0.1                     (Harry Potter2)
3       0.1                     (Harry Potter1)
25      0.1       (LOTR2, Harry Potter1, LOTR1)>

In [12]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Patriot),(Sixth Sense),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
1,(Sixth Sense),(Patriot),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
2,(Green Mile),(LOTR1),0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
3,(LOTR1),(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
4,"(Green Mile, LOTR2)",(LOTR1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
5,"(Green Mile, LOTR1)",(LOTR2),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
6,"(LOTR2, LOTR1)",(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
7,(Green Mile),"(LOTR2, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
8,(LOTR2),"(Green Mile, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
9,(LOTR1),"(Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
10,"(Green Mile, LOTR2)",(Harry Potter1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
11,"(Green Mile, Harry Potter1)",(LOTR2),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
12,"(LOTR2, Harry Potter1)",(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
13,(Green Mile),"(LOTR2, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
14,(LOTR2),"(Green Mile, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
15,(Harry Potter1),"(Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
16,"(Green Mile, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
17,"(Green Mile, LOTR1)",(Harry Potter1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
18,"(Harry Potter1, LOTR1)",(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
19,(Green Mile),"(Harry Potter1, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8

In [13]:
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
26,(LOTR),"(Green Mile, Gladiator)",0.1,0.1,0.1,1.0,10.0,0.09,inf
16,"(Green Mile, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
50,(Harry Potter1),"(LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
47,"(LOTR2, LOTR1)",(Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
46,"(LOTR2, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
41,(Gladiator),(LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
40,(LOTR),(Gladiator),0.1,0.1,0.1,1.0,10.0,0.09,inf
33,(LOTR1),(Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
32,(Harry Potter1),(LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
27,(Gladiator),"(Green Mile, LOTR)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [14]:
#lets try with min_confidence =0.006

In [15]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(X, min_support=0.006, max_len=3,use_colnames = True)
frequent_itemsets

    support                            itemsets
0       0.1                        (Braveheart)
1       0.1                         (Gladiator)
2       0.2                        (Green Mile)
3       0.1                     (Harry Potter1)
4       0.1                     (Harry Potter2)
5       0.1                              (LOTR)
6       0.1                             (LOTR1)
7       0.2                             (LOTR2)
8       0.6                           (Patriot)
9       0.4                       (Sixth Sense)
10      0.1               (Braveheart, Patriot)
11      0.1             (Green Mile, Gladiator)
12      0.1                   (LOTR, Gladiator)
13      0.1         (Green Mile, Harry Potter1)
14      0.1                  (Green Mile, LOTR)
15      0.1                 (Green Mile, LOTR1)
16      0.1                 (Green Mile, LOTR2)
17      0.1              (Harry Potter1, LOTR1)
18      0.1              (LOTR2, Harry Potter1)
19      0.1                      (LOTR2, LOTR1)
20      0.4              (Patriot, Sixth Sense)
21      0.1       (Green Mile, LOTR, Gladiator)
22      0.1  (Green Mile, Harry Potter1, LOTR1)
23      0.1  (Green Mile, LOTR2, Harry Potter1)
24      0.1          (Green Mile, LOTR2, LOTR1)
25      0.1       (LOTR2, Harry Potter1, LOTR1)

In [16]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of     support                            itemsets
8       0.6                           (Patriot)
9       0.4                       (Sixth Sense)
20      0.4              (Patriot, Sixth Sense)
2       0.2                        (Green Mile)
7       0.2                             (LOTR2)
0       0.1                        (Braveheart)
15      0.1                 (Green Mile, LOTR1)
24      0.1          (Green Mile, LOTR2, LOTR1)
23      0.1  (Green Mile, LOTR2, Harry Potter1)
22      0.1  (Green Mile, Harry Potter1, LOTR1)
21      0.1       (Green Mile, LOTR, Gladiator)
19      0.1                      (LOTR2, LOTR1)
18      0.1              (LOTR2, Harry Potter1)
17      0.1              (Harry Potter1, LOTR1)
16      0.1                 (Green Mile, LOTR2)
13      0.1         (Green Mile, Harry Potter1)
14      0.1                  (Green Mile, LOTR)
1       0.1                         (Gladiator)
12      0.1                   (LOTR, Gladiator)
11      0.1             (Green Mile, Gladiator)
10      0.1               (Braveheart, Patriot)
6       0.1                             (LOTR1)
5       0.1                              (LOTR)
4       0.1                     (Harry Potter2)
3       0.1                     (Harry Potter1)
25      0.1       (LOTR2, Harry Potter1, LOTR1)>

In [17]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Patriot),(Sixth Sense),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
1,(Sixth Sense),(Patriot),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
2,(Green Mile),(LOTR1),0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
3,(LOTR1),(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
4,"(Green Mile, LOTR2)",(LOTR1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
5,"(Green Mile, LOTR1)",(LOTR2),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
6,"(LOTR2, LOTR1)",(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
7,(Green Mile),"(LOTR2, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
8,(LOTR2),"(Green Mile, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
9,(LOTR1),"(Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
10,"(Green Mile, LOTR2)",(Harry Potter1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
11,"(Green Mile, Harry Potter1)",(LOTR2),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
12,"(LOTR2, Harry Potter1)",(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
13,(Green Mile),"(LOTR2, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
14,(LOTR2),"(Green Mile, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
15,(Harry Potter1),"(Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
16,"(Green Mile, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
17,"(Green Mile, LOTR1)",(Harry Potter1),0.1,0.1,0.1,1.000000,10.000000,0.09,inf
18,"(Harry Potter1, LOTR1)",(Green Mile),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
19,(Green Mile),"(Harry Potter1, LOTR1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8

In [19]:
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
26,(LOTR),"(Green Mile, Gladiator)",0.1,0.1,0.1,1.0,10.0,0.09,inf
16,"(Green Mile, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
50,(Harry Potter1),"(LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
47,"(LOTR2, LOTR1)",(Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
46,"(LOTR2, Harry Potter1)",(LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
41,(Gladiator),(LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
40,(LOTR),(Gladiator),0.1,0.1,0.1,1.0,10.0,0.09,inf
33,(LOTR1),(Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
32,(Harry Potter1),(LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf
27,(Gladiator),"(Green Mile, LOTR)",0.1,0.1,0.1,1.0,10.0,0.09,inf